<h1 mat-dialog-title>Update Item</h1>
<div mat-dialog-content>
  <form [formGroup]="itemForm">
    <mat-form-field style="width: 100%">
      <textarea
        matInput
        id="name"
        type="text"
        formControlName="name"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
      >
      </textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between">
  <button mat-button [mat-dialog-close]="getNewData('delete')">Delete</button>
  <button mat-button [mat-dialog-close]="getNewData('update')" cdkFocusInitial>
    Ok
  </button>
</div>
